# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Ignore everything in public/data/SQR_RR_Outremer/
public/data/SQR_RR_Outremer/*
!public/data/SQR_RR_Outremer/.gitkeep

# Ignore everything in public/data/SQR_RR_metropole/
public/data/SQR_RR_metropole/*
!public/data/SQR_RR_metropole/.gitkeep

public/data/QUOT_SIM2_previous-2020-202412.csv.gz
public/data/coordonnees_grille_safran_lambert-2-etendu.csv
public/data/FR-ID-JSON_SIM_LAMBX_LAMBY/*
!public/data/FR-ID-JSON_SIM_LAMBX_LAMBY/.gitkeep
public/data/FR-ID-JSON_TEST_SIM_LON_LAT/*
!public/data/FR-ID-JSON_TEST_SIM_LON_LAT/.gitkeep

scripts/__pycache__/
scripts/Analyse_Rainwater_Tank_Sizing.ipynb
scripts/rainwater_tank_sizing.py
public/data/QUOT_SIM2_previous-2020-202501.csv.gz
