# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Weather data
public/data/QUOT_SIM2/*
public/data/coordonnees_grille_safran_lambert-2-etendu.csv
